<link href="assets/css/header.css" rel="stylesheet">
{% include nav.html %}
<nav class="navbar">
    <div class="container-fluid">
        <form class="d-flex" role="search">
            <a href="/">
                <button type="button" class="btn btn-primary">
                    ARIWEBTOON
                </button>
            </a>
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        </form>
    </div>
</nav>
<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#" onclick="none()">추천</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" onclick="none()">로맨스</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" onclick="none()">BL</a>
    </li>
</ul>
<hr class="end">
<script src="assets/js/header.js"></script>