.content {
    padding: 30px;
    margin: auto;
    background-color: white;
}

#json {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#detail {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#novelimg {
    margin-left: 10px;
    margin-right: 30px;
    width: 250px;
}

#likenum {
    display: contents;
}

/* 좋아요 이미지*/
#liked_img {
    width: 20px;
    height: 20px;
}

#check {
    width: 53px;
}

#blank {
    clear: both;
    margin-top: 20px;
}

table {
    border: 1px solid grey;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

#first_tr {
    border: 1px solid grey;
    background-color: #F7F5EB;
}

#second_tr {
    height: 32px;
}

#check {
    flex-basis: 20px;
}

#btn {
    width: auto;
    height: auto;
    text-align: right;
}

#page {
    text-align: center;
}

#cookie {
    width: 20px;
    height: 18px;
}

b {
    color: #012A5E;
}

/* 공지 글 */
#h {
    width: 77px;
    text-align: center;
}

/* 접은 글 */
#show {
    width: 44px;
    text-align: center;
    color: red;
}

/* 공지 빨간색 칸 디자인*/
.BookDetailNotice_List_Header-notices {
    background: #fce8e6;
    color: #ed6d5e;
}

/* 장바구니, 구매 버튼 */
#novelbtn {
    border-radius: 5px;
    border-color: #f0f0f0;
    background: #e3e3e3;
    text-align: right;
}

#review_title {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: left;
}

#second_tbl_tr {
    border: 1px solid grey;
}

#edit {
    padding-top: 20px;
}